<div class="content">
    <div>        
        <style>          
            table{width: 100%}
        </style>
            
        <div class="body">
            <div style="margin:0; padding:0; background-color:#ffffff">
                <table border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; background:#ffffff">
                                <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                    <tbody>
                                        <tr style="">
                                            <td height="20" colspan="3" style="line-height:20px">&nbsp;</td>
                                        </tr>                                     
                                        <tr>
                                            <td style="">
                                                <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border:solid 1px white; margin:0 auto 5px auto; padding:3px 0; text-align:center; width:430px">
                                                    <tbody>
                                                        <tr>
                                                            <td width="15px" style="width:15px"></td>
                                                            <td style="line-height:0px; width:400px; padding:0 0 15px 0">
                                                                <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                    <tbody>
                                                                        <tr>
                                                                            <!--                                              <td style="width:100%; text-align:center; height:33px"><img data-imagetype="External" src="http://startupjogos.sesims.com.br/Content/images/LOGO-ABERTURA2.png" height="50" style="border:0"></td>
        -->
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="15px" style="width:15px"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="15px" style="width:15px"></td>
                                                            <td style="border-top:solid 1px #DBDBDB"></td>
                                                            <td width="15px" style="width:15px"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="">
                                                <table border="0" width="430" cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:0 auto 0 auto">
                                                    <tbody>
                                                        <tr>
                                                            <td style="">
                                                                <table border="0" width="430px" cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:0 auto 0 auto; width:430px">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="15" style="display:block; width:15px">&nbsp;&nbsp;&nbsp;</td>
                                                                        </tr>
                                                                        <tr style="">
                                                                            <td style="">
                                                                                <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="">
                                                                                                <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td width="20" style="display:block; width:20px">&nbsp;&nbsp;&nbsp;</td>
                                                                                                            <td style="">
                                                                                                                <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td style=""></td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <td style="">
                                                                                                                                <p style="margin:10px 0 10px 0; color:#565a5c; font-size:18px">Prezado usuário,</p>
                                                                                                                                <p style="margin:10px 0 10px 0; color:#565a5c; font-size:18px">Você realizou uma requisição de alteração de senha do Tá Certo Forms.</p>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                        </tr>
                                                                                                                        <tr style="">
                                                                                                                            <td height="10" colspan="1" style="line-height:10px">&nbsp;</td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <td style="">
                                                                                                                                <a href="{Url}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#3b5998; text-decoration:none; display:block; width:370px">
                                                                                                                                    <table border="0" width="390" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                                                                        <tbody>
                                                                                                                                            <tr>
                                                                                                                                                <td style="border-collapse:collapse; border-radius:3px; text-align:center; display:block; border:solid 1px #009fdf; padding:10px 16px 14px 16px; margin:0 2px 0 auto; min-width:80px; background-color:#47A2EA">
                                                                                                                                                    <a href="{Url}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#3b5998; text-decoration:none; display:block">
                                                                                                                                                        <center><font size="3"><span style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif, serif, EmojiFont; white-space: nowrap; font-weight: bold; vertical-align: middle; color: rgb(253, 253, 253); font-size: 16px; line-height: 16px;">Alterar&nbsp;Senha</span></font></center>
                                                                                                                                                    </a>
                                                                                                                                                </td>
                                                                                                                                            </tr>
                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                </a>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                        <tr style="">
                                                                                                                            <td height="10" colspan="1" style="line-height:10px">&nbsp;</td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <td style="">
                                                                                                                                <p style="margin:10px 0 10px 0; color:#565a5c; font-size:18px">
        Este link tem a validade de 24 horas. Se você ignorar essa mensagem, sua senha não será alterada.</p>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                            <td width="20" style="display:block; width:20px">&nbsp;&nbsp;&nbsp;</td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="0" width="430px" cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:0 auto 0 auto; width:430px">
                                                    <tbody>
                                                        <tr style="">
                                                            <td height="5" colspan="3" style="line-height:5px">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20" style="display:block; width:20px">&nbsp;&nbsp;&nbsp;</td>
                                                            <td style="">
                                                                
                                                                <div style="height:10px"></div>
                                                                <div style="color:#abadae; font-size:11px; margin:0 auto 5px auto">
                                                                    © SESI/MS Campo Grande.Av. Afonso Pena, 1206 - Amambai, Campo Grande - MS, 79005-901<br>
                                                                </div>                                                                
                                                            </td>
                                                            <td width="20" style="display:block; width:20px">&nbsp;&nbsp;&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr style="">
                                            <td height="20" colspan="3" style="line-height:20px">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>